db.sqlite3
*.pyc
test.py
SoccerProject/settings.py
data/*
main/management/*
.ebextensions
.ebignore
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
