{% extends "base.html" %}
{% load localize_tags %}
{% block title %}ログイン -{{ block.super }}{% endblock %}
{% block content %}
<section class="login d-flex align-items-center">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 col-md-8 col-sm-10 my-4 mx-auto">
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
      {% endif %}
        <div class="shadow p-4 mb-5 bg-body rounded">
          <h1 class="text-light font-weight-light text-center mb-5">ログイン</h1>
          <form method="POST" class="login-form">
            <div class="form-group">
            {% csrf_token %}  
              <input type="text" class="form-control py-2 mb-2" name="username" placeholder="ユーザー名">
              <input type="password" class="form-control py-2 mb-2" name="password" placeholder="パスワード">
              <input type="submit" class="form-control btn-danger login-btn" value="ログイン"></input>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
