{% extends "base.html" %}
{% load localize_tags %}
{% block title %}ホーム - {{ block.super }}{% endblock %}
{% block content %}
  <!-- message -->
    {% if messages %}
    {% for message in messages %}
    <section class="message">
      <div class="container-fluid">
        <div class="row">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
    {% endif %}
  <!-- end of message -->

  <!-- header -->
  <header class="d-flex align-items-center">
  <!-- banner -->
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="text-light display-1 font-italic my-5 banner-heading">For Supporters</h1>
          <p class="lead text-light text-right mr-5">サポーターの場所</p>
        </div>
      </div>
    </div>
  <!-- end of banner -->
  </header>
  <!-- end of header -->

  <!-- gallery -->
  <section class="gallery">
    <div class="container">
      <!-- title -->
        <div class="row">
          <div class="col text-center py-5">
            <h1 class="text-secondary common-title">あなたの心のチームは？</h1>
          </div>
        </div>
      <!-- end of title -->

        {% for team in suggest_teams %}
        {% if forloop.counter0 == 0 %}
        <div class="row mb-4 first-row align-items-end">
        {% endif %}
        {% if forloop.counter0 == 4 %}
        </div>
        <div class="row mb-4 second-row align-items-end">
        {% endif %}
        <div class="col-lg-3 col-sm-6 col-10 mx-auto">
          <a href="{{ team.crest }}" data-lightbox="library" data-title="{{ team.name }}">
            <img src="{{ team.crest }}" class="img-thumbnail gallery-img">
          </a>
        </div>
        {% endfor %}
    </div>
  </section>
  <!-- end of gallery -->

{% endblock %}