{% extends "base.html" %}
{% load localize_tags %}
{% block title %} {{ league_code }} チーム一覧 {{ block.super }}{% endblock %}
{% block content %}
<div class="container px-4 py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom">{% comment %}リーグ名{% endcomment %}チーム一覧</h2>
  <div class="row row-cols-3">
    {% for team in team_list %}
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4 pt-2 pb-2 ps-2">
          <img src="{{ team.crest }}" width="100" height="100" class="mt-1">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ team.name | team_to_ja }}</h5>
            <p class="card-text">This is a wider card with supporting text below as. </p>
            <a href="{% url 'main:team' league_code=league_code id=team.id  %}" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}