{% extends "base.html" %}
{% block title %}ホーム画面 {{ block.super }}{% endblock %}
{% block content %}
  <h1>チーム名 日程</h1>
  <table>
    <tr>
      <th>日程</th>
      <th>ホームチーム</th>
      <th>アウェーチーム</th>
    </tr>
    {% for match in match_list %}
    <tr>
      <td>{{ match.schedule }}</td>
      <td><img src={{ match.home_logo }} width="50" height="50" alt="" align="center"> {{ match.home_name }}</td>
      <td><img src={{ match.away_logo }} width="50" height="50" alt="" align="center"> {{ match.away_name }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}