/*---------------------------------
　LEAGUE_TOP
---------------------------------*/
.league_top img{
    width: 20px;
    height: 20px;
}

.league_top .container{
    display: flex;
    justify-content: space-between;
    max-width:1100px;
    margin:0px opx;
    padding:20px 0px;
}

.league_top .right_link{
    text-align: right;
}

/*---------------------------------
　SCHEDULE
---------------------------------*/
.schedule .container{
    max-width:1100px;
    margin:0px auto;
    padding:20px 0px;
}

/*---------------------------------
　STANDING
---------------------------------*/
.standing .container{
    max-width:1100px;
    margin:0px auto;
    padding:20px 0px;
}

/*---------------------------------
　TEAM_LIST
---------------------------------*/
.team_list .container{
    max-width:1100px;
    margin:0px auto;
    padding:20px 0px;
}

/*---------------------------------
　TOP
---------------------------------*/
.top .container{
    max-width:1100px;
    margin:0px auto;
    padding:20px 0px;
}






h1{
    font-size:28px;
}


