/*---------------------------------
　LEAGUE_TOP
---------------------------------*/
.league_top img{
    width: 20px;
    height: 20px;
}

.league_top .right_link{
    text-align: right;
}

h1{
    font-size:28px;
}


