/*---------------------------------
　LEAGUE_TOP
---------------------------------*/
.league_top img{
    width: 20px;
    height: 20px;
}

p.right_link_two_lines {
    margin: -3.5em 0 10px;
    text-align: right;
}

.right_link {
    text-align: right;
}

h1{
    font-size:28px;
}


