<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>{% block title %}For Supporters{% endblock %}</title>
  <link rel="icon" href="/static/images/title-img.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  {% comment %} <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script> {% endcomment %}
  <script src="https://kit.fontawesome.com/9463059c8b.js" crossorigin="anonymous"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    {% if user.is_authenticated %}
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="container-fluid">
          <div class="row">
            <!-- sidebar -->
            <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
              <a href="{% url 'main:home' %}" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">For Supporters</a>
              <div class="bottom-border pb-3">
                <img src="/static/images/mypage_icon.png" width="50" height="30" class="rounded-circle mr-3 mypage-icon">
                <a href="#" class="text-white">{{ user.username }}</a>
              </div>
              <ul class="navbar-nav flex-column mt-4">
                <li class="nav-item current"><a href="{% url 'mypage:dashboard' %}" class="nav-link text-white p-3 mb-2 current"><i class="fa-solid fa-house text-light fa-lg mr-3"></i>ボード</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-user text-light fa-lg mr-3"></i>開発中</a></li>
              </ul>
      
            </div>
            <!-- end of sidebar -->

            <!-- top-nav -->
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
              <div class="row align-items-center">
                <div class="col-md-4">
                  <h4 class="text-light text-uppercase mb-0">ダッシュボード</h4>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-3">
                  <ul class="navbar-nav">
                    <li class="nav-item ml-md-auto"><a href="#" class="nav-link" data-toggle="modal" data-target="#log-out"><i class="fas fa-sign-out-alt text-danger fa-lg"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- end-of-top-nav -->
          </div>
        </div>
      </div>
    </nav>
    <!-- end of navbar -->

    <!-- modal -->
    <div class="modal fade" id="log-out">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">ログアウトしますか？</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            ログアウトするとトップページに戻ります。
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">キャンセル</button>
            <a href="{% url 'accounts:logout' %}" class="btn btn-danger">ログアウト</a>
          </div>
        </div>
      </div>
    </div>  
    <!-- end of modal -->
    {% block content %}{% endblock %}

    {% else %}
    {% comment %} If Not login {% endcomment %}
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg fixed-top nav-menu">
      <a href="{% url 'main:home' %}" class="navbar-brand text-light text-uppercase"><span class="h2 font-weight-bold">For Supporters</span></a>
      <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#myNavbar">
        <div class="bg-light line1"></div>
        <div class="bg-light line2"></div>
        <div class="bg-light line3"></div>
      </button>
      <div class="collapse navbar-collapse justify-content-end text-uppercase font-weight-bold" id="myNavbar">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link m-2 menu-item dropdown-toggle" data-toggle="dropdown">各国順位表</a>
            <div class="dropdown-menu">
              <a href="{% url 'main:standing' league_code='PL' %}" class="menu-item dropdown-item">プレミアリーグ</a>
              <a href="{% url 'main:standing' league_code='PD' %}" class="menu-item dropdown-item">ラ・リーガ</a>
              <a href="{% url 'main:standing' league_code='SA' %}" class="menu-item dropdown-item">セリエA</a>
              <a href="{% url 'main:standing' league_code='BL1' %}" class="menu-item dropdown-item">ブンデスリーガ</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="{% url 'main:schedule' key='all' %}" class="nav-link m-2 menu-item">試合日程</a>
          </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'mypage:dashboard' %}" class="nav-link m-2 menu-item">マイページ</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'accounts:logout' %}" class="nav-link m-2 menu-item">ログアウト</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{% url 'accounts:register_user' %}" class="nav-link m-2 menu-item" >アカウント登録</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'accounts:login' %}" class="nav-link m-2 menu-item">ログイン</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <!-- end of navbar -->
    <section class="login d-flex align-items-center">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-6 col-md-8 col-sm-10 my-4 mx-auto">
            <div class="shadow p-4 mb-5 bg-body rounded">
              <h1 class="text-light font-weight-light text-center mb-5">ログインしてください</h1>
                  <a href="{% url 'accounts:login' %}" role="button" class="btn btn-danger login-btn">ログインページへ</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}

  <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="{% static 'js/lightbox.js' %}"></script>
</body>
</html>